* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}
.container1 {
    width: 100%;
    padding: 2rem;
    color: yellow;
    display: flex;
    justify-content:space-between;
    align-items: center;

    
}

header {
    background-color: #333;
    color: #fff;


}

header h1 {
    margin-left: -2px; 
}

nav {
    margin-right: 20px; 
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover{
    color: yellow;
}


section {
    padding: 50px 0;
}

section h2 {
    margin-bottom: 20px;
}

section form label {
    display: block;
    margin-bottom: 10px;
}

section form input,
section form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

section form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#encouragement{
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
}
